#content{
    margin: 0;
    width: 100%;
}

#content-navbar{
    margin: 0;
    padding: 1%;
    background-color: white;
}

.content-navbar-link{
    cursor: pointer;
}

body{
    background-color: #262630;
    margin: 0;
    padding: 0;
    border: 0px;
    border: none;
}