
.Center {
    text-align: center;
}

.divContainer {
    height: 100%;
    text-align: center;
    margin-top: 30px;
    margin-left: 0%;
    margin-right: 0%;
}

a {
    font-size: x-large;
    color: #666160;
    margin-left: 3%;
}

a:hover {
    color: white;
    text-decoration: none !important;
}


nav {
    text-align: center;
    background-color: #161414;
    padding: 1%;
}

  .SlideShow {
    background-color: coral;
    text-align: center;
}

body{
    text-align:center;
    background-color: rgb(255, 255, 255);
}